<li class="text-left">
	{{burger_name}} 

	{{#if devoured}}
		<button class="change-devoured btn btn-info" data-id="{{id}}" data-devoured="{{devoured}}">
			Eat! <i class="fad fa-utensils-alt"></i>
		</button>
	{{/if}}
</li>
